Nissan_torres_corzo/node_modules/
Nissan_torres_corzo/.angular/
Nissan_torres_corzo/www/
Nissan_torres_corzo/.sass-cache/
Nissan_torres_corzo/.env

Reportes/node_modules/
Reportes/.cache
Reportes/build