<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="globalSucursales('Zacatecas')" expand="block" fill="clear" shape="round">
    Reporte Zacatecas
  </ion-button>
  <ion-button (click)="globalSucursales('Bicentenario')" expand="block" fill="clear" shape="round">
    Reporte Bicentenario
  </ion-button>
  <ion-button (click)="apv()" expand="block" fill="clear" shape="round">
    Reporte apv
  </ion-button>

</ion-content>